<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <section name="ElFinder" type="ElFinder.Connector.Configuration.ElFinderSection" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" />
  </configSections>
  <appSettings />
  <connectionStrings>
    <add name="con" connectionString="Data Source=(local);Initial Catalog=banve;Integrated Security=True; Pooling=false;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <authentication mode="None" />
    <customErrors mode="Off" />
    <!--<customErrors mode="On" defaultRedirect="~/html/Error.aspx">
            <error statusCode="404" redirect="~/html/Error404.aspx" />
        </customErrors>-->
    <httpRuntime executionTimeout="90" maxRequestLength="409600" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" enableVersionHeader="true" requestValidationMode="2.0" />
    <pages renderAllHiddenFieldsAtTopOfForm="false" validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" enableEventValidation="false" enableViewState="false" viewStateEncryptionMode="Never">
      <controls />
    </pages>
    <httpHandlers>
      <add verb="*" path="*.plugin" type="linh.httpModule.defaultHandle, linh.httpModule" />
      <add verb="*" path="*.captcha" type="linh.httpModule.Captcha, linh.httpModule" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <httpErrors>
      <remove statusCode="502" subStatusCode="-1" />
      <remove statusCode="501" subStatusCode="-1" />
      <remove statusCode="500" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="/html/Error404.aspx" responseMode="ExecuteURL" />
      <error statusCode="500" prefixLanguageFilePath="" path="/html/Error.aspx" responseMode="ExecuteURL" />
      <error statusCode="501" prefixLanguageFilePath="" path="/html/Error.aspx" responseMode="ExecuteURL" />
      <error statusCode="502" prefixLanguageFilePath="" path="/html/Error.aspx" responseMode="ExecuteURL" />
    </httpErrors>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <add name="*.plugin" path="*.plugin" verb="*" type="linh.httpModule.defaultHandle, linh.httpModule" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="*.captcha" path="*.captcha" verb="*" type="linh.httpModule.Captcha, linh.httpModule" resourceType="Unspecified" preCondition="integratedMode" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="209715200" maxAllowedContentLength="209715200" maxUrl="209715200">
          <headerLimits>
            <add header="Content-type" sizeLimit="209715200" />
          </headerLimits>
        </requestLimits>
      </requestFiltering>
    </security>
    <rewrite>
      <rules>
        <!--<rule name="Prevent image hotlinking">
          <match url=".*\.(gif|jpg|png|jpeg|bmp)$"/>
          --><!--<conditions>
            <add input="{HTTP_REFERER}" pattern="^$" negate="true" />
            <add input="{HTTP_REFERER}" pattern="^http://ruslany\.net/.*$" negate="true" />
          </conditions>
          <action type="Rewrite" url="/images/say_no_to_hotlinking.jpg" />--><!--
          <action type="Rewrite" url="/lib/handler/Images.ashx?path={R:0}"/>
        </rule>-->
        <rule name="Register" enabled="true">
          <match url="^Register/$" />
          <action type="Rewrite" url="/html/Register.aspx" />
        </rule>
        <rule name="Login" enabled="true">
          <match url="^login/$" />
          <action type="Rewrite" url="/html/Login.aspx" />
        </rule>
        <rule name="User profile">
          <match url="^user/([^/]+)$" />
          <action type="Rewrite" url="/html/Profile.aspx?u={R:1}" />
        </rule>
        <rule name="User Account">
          <match url="^acc/$" />
          <action type="Rewrite" url="/html/MyAccount.aspx" />
        </rule>
        <rule name="Recover password">
          <match url="^Recover/$" />
          <action type="Rewrite" url="/html/Recover.aspx" />
        </rule>
        <rule name="Recover password pages">
          <match url="^Recover/([0-9]+)/([0-9]+)/$$" />
          <action type="Rewrite" url="/html/Recover.aspx?ID={R:1}&amp;Key={R:2}" />
        </rule>
        <rule name="Pm">
          <match url="^pm/$" />
          <action type="Rewrite" url="/html/Inbox.aspx" />
        </rule>
        <rule name="Active Email" enabled="true">
          <match url="^Xac-nhan/([0-9]+)/([0-9]+)/$" />
          <action type="Rewrite" url="/html/ActiveEmail.aspx?ID={R:1}&amp;Key={R:2}" />
        </rule>
        <rule name="Login page">
          <match url="^Login/?$" />
          <action type="Rewrite" url="/html/Login.aspx" />
        </rule>

        <rule name="Admin xe">
          <match url="^admin/xe$" />
          <action type="Rewrite" url="//lib/pages/xe/Default.aspx" />
        </rule>
        <rule name="Admin ve">
          <match url="^admin/ve" />
          <action type="Rewrite" url="//lib/pages/DatVe/Default.aspx" />
        </rule>

        <rule name="Admin ban ve">
          <match url="^admin/banve" />
          <action type="Rewrite" url="//lib/pages/DatVe/BanVe.aspx" />
        </rule>

        <rule name="Booking search">
          <match url="^tim$" />
          <action type="Rewrite" url="/lib/booking/List.aspx" />
        </rule>
        <rule name="Booking dat ve">
          <match url="^datve$" />
          <action type="Rewrite" url="/lib/booking/DatVe_ChiTiet.aspx" />
        </rule>
        <rule name="Booking chon ghe">
          <match url="^ghe$" />
          <action type="Rewrite" url="/lib/booking/DatVe_ChonCho.aspx" />
        </rule>

        <rule name="Booking thanh toan">
          <match url="^pay$" />
          <action type="Rewrite" url="/lib/booking/DatVe_ThanhToan.aspx" />
        </rule>
        <rule name="Booking view ve khach hang">
          <match url="^v/([^/]+)" />
          <action type="Rewrite" url="/lib/booking/DatVe_View.aspx?Ma={R:1}" />
        </rule>


        <rule name="Admin page">
          <match url="^admin/?$" />
          <action type="Rewrite" url="/lib/admin/Default.htm" />
        </rule>
        
        <rule name="WebResource">
          <match url="^WebResource.axd(.*)" />
          <action type="Rewrite" url="/WebResource.axd{R:1}" />
        </rule>
        <rule name="Lib folder">
          <match url="^lib/(.*)" />
          <action type="Rewrite" url="/lib/{R:1}" />
        </rule>
        <rule name="Html folder">
          <match url="^html/(.*)" />
          <action type="Rewrite" url="/html/{R:1}" />
        </rule>
        <rule name="Home page">
          <match url="^/?$" />
          <action type="Rewrite" url="/lib/booking/" />
        </rule>
        <rule name="Alias page">
          <match url="^([^/]+)" />
          <action type="Rewrite" url="/html/Default.aspx?Alias={R:1}" />
        </rule>
      </rules>
    </rewrite>
        <staticContent>
          <remove fileExtension=".woff" />
          <!-- In case IIS already has this mime type -->
            <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
        </staticContent>
  </system.webServer>
</configuration>